<% if not toplevel %>
  <a href='javascript:void(0)' class="reply show-comment-form">Reply</a>
  <%= render 'new_comment', parent: parent, show: false %>
<% end %>

<div class="comments">
  <% parent.comments.select(&:persisted?).each do |comment| %>
    <div class="comment">
      <div class="body">
        <%= comment.body %>
      </div>
      <%= render 'comments_list', parent: comment, toplevel: false %>
    </div>
  <% end %>
</div>
