<% if not toplevel %>
  <a href='javascript:void(0)' class="reply show-comment-form">Reply</a>
  <%= render 'new_comment', parent: parent, show: false %>
<% end %>

<div class="comments">
  <% parent.comments.select(&:persisted?).each do |comment| %>
    <div class="comment">
      <div class="body">
        <% if comment.soft_deleted? %>
          [deleted]
        <% else %>
          <%= comment.body %>
        <% end %>
      </div>
      <% unless comment.soft_deleted? %>
        <%= link_to 'Delete', comment_path(comment), method: :delete %>
      <% end %>
      <%= render 'comments_list', parent: comment, toplevel: false %>
    </div>
  <% end %>
</div>
