<div class="container">
  <div class="row">
    <div class="card blue-grey darken-1">
      <div class="card-content white-tet">
        <span class="card-title">Post</span>
        <p>
          <%= @post.content %>
        </p>
      </div>
    </div>

    <h3>Comment on this post</h3>
    <%= render 'new_comment', parent: @post, show: true %>
    
    <h3>Comments</h3>
    <%# Renders comments for the post, and then recursively for its children
        Post should have comments pre-loaded all the way down to avoid n^n queries %>
    <%= render 'comments_list', parent: @post, toplevel: true %>

    <%= link_to "Home", root_url, class: "btn waves-effect waves-light" %>
  </div>
</div>
